* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 20px 0;
    background-color: rgb(247, 208, 13);
}
body{
    text-align: center;
    background-color: rgb(250, 234, 154);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body hr{
    border-style: none;
}

footer{
    margin: -10px;
    padding-bottom: 100%;
    box-sizing: border-box;
    background-color: aliceblue;
}