
body p{
    font-size:larger;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15;
}
body h2{
    margin-top: 40px;
}

iframe{
    margin-left: auto;
    margin-right: auto;
}